@model TravelAgencyApplicationNewVersion.ViewModels.BookViewModel


@{
    Layout = "~/Views/Shared/_myLayoutPage.cshtml";
}




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.flight.Airline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.flight.ArrivalCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.flight.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.flight.DepartureCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.flight.DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.flight.FlightId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.flight.FlightPrice)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.flight.Airline)
            </td>

            <td>
                @Html.DisplayFor(modelItem => Model.flight.ArrivalCity)
            </td>

            <td>
                @Html.DisplayFor(modelItem => Model.flight.ArrivalTime)
            </td>

            <td>
                @Html.DisplayFor(modelItem => Model.flight.DepartureCity)
            </td>

            <td>
                @Html.DisplayFor(modelItem => Model.flight.DepartureTime)
            </td>

            <td>
                @Html.DisplayFor(modelItem => Model.flight.FlightId)
            </td>

            <td>
                @Html.DisplayFor(modelItem => Model.flight.FlightPrice)
            </td>

            <td>
        </tr>

@if (!Model.flightsArrivalDate.Count.Equals(0))
{
        @foreach (var flight in Model.flightsArrivalDate)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => flight.Airline)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => flight.ArrivalCity)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => flight.ArrivalTime)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => flight.DepartureCity)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => flight.DepartureTime)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => flight.FlightId)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => Model.FlightPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.TotalPrice)
                </td>

                @*<td>@Html.ActionLink("Book", "LoginOrRegister", "Book", new { ID = flight.FlightId })</td>*@

            </tr>

        }
}

    </tbody>
</table>


@*@foreach()*@
<form asp-controller="Book" asp-action="ChooseReturnFlightSeat" method="post" class="form-horizontal">
    <select asp-for="SeatId"
            asp-items="Model.seatsInFlight"
            ></select>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Choose seat in flight from @Model.flight.DepartureCity to @Model.flight.ArrivalCity</button>

            <input id="FlightPrice" name="FlightPrice" type="hidden" value="@Model.flight.FlightPrice" />

            @if (!Model.flightsArrivalDate.Count.Equals(0)) { 
            <input id="returnFlightID" name="returnFlightID" type="hidden" value="@Model.flightsArrivalDate.First().FlightId" />
            }

        </div>
    </div>
</form>


@*<form asp-controller="Book" asp-action="ChooseSeat" method="post" class="form-horizontal">
    <select asp-for="ReturnFlightID"
            asp-items="Model.seatsInReturnFlight"></select>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Choose seat in return flight</button>

            <input id="FlightPrice" name="FlightPrice" type="hidden" value="@Model.flight.FlightPrice" />

        </div>
    </div>
</form>*@


<tr>

    <td>
        @Html.DisplayFor(modelItem => Model.seatDetails)
    </td>

</tr>




@section footer{
    <p class="lead">
        &copy 2017 Attila Starkenius
    </p>
}
