<link href="~/lib/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" />




@{
    ViewBag.Title = "Search flights and hotels";
    
    Layout = "~/Views/Shared/_myLayoutPage.cshtml";
}

@using TravelAgencyApplicationNewVersion.ViewModels

@model TravelAgencyApplicationNewVersion.ViewModels.SearchIndexViewModel

<br />

@*<select asp-for="selectedFlightType">
    <option value="RETURN">Return flight</option>
    <option value="SINGLE">Single flight</option>
</select>*@

@using (Html.BeginForm("SearchFlight", "Search", FormMethod.Post, new { id = "TheForm", onsubmit = "return validateForm()" }))
{


    <div class="col-md-10">
        @foreach (var item in Model.flightTypes)
        {
            <input asp-for="selectedFlightType" type="radio" value="@item.Id" /> @item.FlightTypeName
        }
    </div>



    <br />

    <h2>Choose flight departure city</h2>


        <div class="container">
            <div class="row">
                <div>
                    @Html.DropDownListFor(m => m.DepartureCity, Model.flightCityItems, new { id = "ddlDepartureCity" })
                </div>
            </div>
        </div>


    <h2>Choose flight arrival city</h2>


    <div class="container">
        <div class="row">
            <div>
                @Html.DropDownListFor(m => m.ArrivalCity, Model.flightArrivalCityItems, new { id = "ddlArrivalCity" })
            </div>
        </div>
    </div>

    <br />



    <h2>Choose flight departure date: <input type="text" id="datepicker" required></h2> <br /> <br />
    <br /> <br /> <br /> <br />    <br /> <br />

    @*@using (Html.BeginForm("SearchDepartureDate", "Search", FormMethod.Get, new { id = "myFormID" }))
    {*@
        @*<input type="hidden" name="date" id="hiddenFieldID" value="@Model.DepartureTime">*@

    <input type="hidden" name="date" id="hiddenFieldID" value="" required>

    @*}*@




    <select asp-for="numberOfAdults">
        <option value="1">1 adult</option>
        <option value="2">2 adults</option>
        <option value="3">3 adults</option>
        <option value="4">4 adults</option>
        <option value="5">5 adults</option>
        <option value="6">6 adults</option>
        <option value="7">7 adults</option>
        <option value="8">8 adults</option>        
    </select>


<select asp-for="numberOfChildren"> 
    <option value="0">None 0-12 years old child</option>
    <option value="1">1 child</option>
    <option value="2">2 children</option>
    <option value="3">3 children</option>
    <option value="4">4 children</option>
    <option value="5">5 children</option>
    <option value="6">6 children</option>
    <option value="7">7 children</option>
    <option value="8">8 children</option>
</select>

<button type="submit">Search flight</button>
}

    @section footer{
        <p class="lead">
            &copy 2017 Attila Starkenius
        </p>
    }


    <script type="text/javascript" src="~/Scripts/validation.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/datetimepicker/jquery.datetimepicker.js"></script>
    <script src="~/lib/jquery-ui.js"></script>


    <script type="text/javascript">

        function validateForm() {
            var x = document.getElementById('datepicker').value;

            if (x > document.getElementById('arrivaltime').value) {
                alert("Departure date must be earlier or same as the arrival date!");
                return false;
            }

            @*var departurecityid = '@Html.IdFor( o => o.DepartureCity )';
            var departurecitydropdown = $("#" + departurecityid);
            var departurecityvalue = departurecitydropdown.val();
            
            var arrivalcityid = '@Html.IdFor( o => o.ArrivalCity )';
            var arrivalcitydropdown = $("#" + arrivalcityid);
            var arrivalcityvalue = arrivalcitydropdown.val();*@

            var departurecity = $("#ddlDepartureCity").val();
            var arrivalcity = $("#ddlArrivalCity").val();

            if (departurecity == arrivalcity)
                {
                alert("Departure city cannot be the same as the arrival city!");
                return false;
                }



        }

        $(function () {
            $("#arrivaldatedatepicker").datepicker({
                altField: '#arrivaldatedatepickerhiddenFieldID'
            });
        });

        $(function () {
            $("#datepicker").datepicker({
                altField: '#hiddenFieldID'
            });
        });

    </script>

